**/.*/
.*/
**/_*/
_*/
**/@*/
@*/

*.zip
*.rar
*.log
*.xml

**/node_modules/
**/log/
**/cache/*.php
**/cache/*.php.lock
**/cache/*.json
**/cache/*.cache

assets/
fotos/
flood/
view/

**/db.php
**/template.json

grunt-cache-bust.json
package-lock.json